<hr>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Hiu Group</h5>
          <p>Logancee is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">INFORMATION</h5>

            <ul class="list-unstyled list1">
              <li>
                <a href="#!">Hashagi</a>
              </li>
              <li>
                <a href="#!">Hashayo</a>
              </li>
              <li>
                <a href="#!">E + Q + D + R</a>
              </li>
              <li>
                <a href="#!">Ctrl + 6</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">GET IN TOUCH</h5>

            <ul class="list-unstyled  list2">
              <li>
                <a href="#!"><i class="fas fa-home"></i>
                  204 Duong Quang Ham, Ha Noi.</a>
              </li>
              <li>
                <a href="#!"><i class="fas fa-mobile-android-alt"></i>
                    (0044) 8647 1234 587</a>
              </li>
              <li>
                <a href="#!"><i class="fas fa-envelope"></i>
                    HiuGroup@gmail.com</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://google.com"> Google.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->