<h3 align="center">From the Blog</h3>
<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="post-1">
        <div class="subPost1">
            <h4>TRENDING FOR 2018 !</h4>
            <i class="fas fa-calendar-alt calendar"></i>03-04-2018
            <a href="#" class="comment"><i class="far fa-comment "></i>12 Comment</a>
        </div>
      </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="post-2">
         <div class="subPost">
            <h4>NEW SHOES FOR TREKKING BOYS</h4>
          <i class="fas fa-calendar-alt calendar"></i>01-05-2018
          <a href="#"  class="comment"><i class="far fa-comment comment"></i>09 Comment</a>
         </div>
      </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="post-3">
     <div class="subPost">
        <h4>STREET STYLE WITH LOGANCEE FASHION</h4>
        <i class="fas fa-calendar-alt calendar"></i>22-03-2018
        <a href="#"  class="comment"><i class="far fa-comment comment"></i>20 Comment</a>
     </div>
    </div>
  </div>

</div>