.jumbotron.ex1 {
    background-image: url('assets/IMG/promo-1.jpg');
    background-size: cover;
    height: 635px;
    border-radius: 0px;
}

.jumbotron.ex2 {
    background-image: url('assets/IMG/promo-2.jpg');
    border-radius: 0px;
    background-size: cover;
    height: 246px;
}


h1.display-3 {
    font-size: 36px;
    text-align: center;
    color: white;
    margin-top: 150px;
    font-weight: bold;
}


p.lead {
    text-align: center;
    color: white;
}

a.btn.btn-default.btn-lg.bntExplore {
    border: 1.5px solid white;
    border-radius: 0px;
    color: white;
}


iframe {
    width: 619px;
}