<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <h3 align="center" >AUTUMN COLLECTION</h3>
        <div class="jumbotron ex1">
          <h1 class="display-3">INSPIRATON FROM CKNIGHTZ</h1>
          <p class="lead">Discover the best collection for autumn of Stylist
              Cknightz Art. With so charming, modern 
              and passionate, you certainly love this collection.</p>
          <p class="lead">
            <a class="btn btn-default btn-lg bntExplore" href="Jumbo action link" role="button">Jumbo action name</a>
          </p>
        </div>
    </div>  
    
    
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="row">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 align = "center">DENIM JEAN - TREND OF JEAN 2015</h3>
            <div class="jumbotron ex2">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                  Cum illum, aut, sunt molestias tempora amet!</p>
            </div>
          </div>
    
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3 align = "center">LOGANCEE’S SHOES VIDEO</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/gJ3BN0I5qHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
        </div>
    </div>
</div>